element.style {
    color: green;
    font-size: 18px;
}
/* .text-center {
    text-align: center!important;
    background: rgba(255,255,255,0.8) !important;
    max-width: 541px;
    margin: 15px auto;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
} */

