@import "../../tools/tools.mixin";
@import "../../settings/settings.breakpoints";
@import "../../settings/settings.variables";

// header
header {
    .navbar {
        padding: 15px 50px;
        box-shadow: 0 3px 10px rgba($color: $black, $alpha: 0.15);
        background: $white;
        &--homeBg {
            background: #fdfcfa63 !important;
        }
        .navbar-brand {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
            max-width: 200px;
        }

        .form-search {
            width: 530px;
            .form-control {
                padding-left: 40px;
            }
            .icon-search1 {
                position: absolute;
                top: 50%;
                left: 15px;
                transform: translateY(-50%);
            }
        }
        .toggleSearch, .toggleMenu{
            font-size: 20px;
        }
        .toggleMenu {
            margin-right: 10px;
        }
        .centerNav {
            margin-left: 65px;
            li {
                &:not(:last-child) {
                    margin-right: 10px;
                }
                text-align: center;

                a {
                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 35px;
                        width: 35px;
                        border-radius: 50%;
                        border: 1px solid $grey;
                        color: $black;
                        transition: 0.5s;
                        margin: 0 auto;
                        font-size: 17px;
                        &.icon-home{
                            color: #010080;
                            border-color: #010080;
                        }
                        &.icon-two-users{
                            color: #276EBC;
                            border: 1px solid #276EBC;
                        }
                        &.icon-flame{
                            color: #9C251B;
                            border-color: #9C251B;
                        }
                        &.icon-menu{
                            color: #203864;
                            border-color: #203864;
                        }
                        &.icon-bell{
                            color: #BE0002;
                            border-color: #BE0002;
                        }
                    }
                    .nav-text {
                        font-size: 14px;
                        display: block;
                        margin-top: 5px;
                        color: #333;
                    }
                    // &:hover,
                    // &.active {
                    //     .icon,
                    //     .nav-text {
                    //         color: $yellow;
                    //         border-color: $yellow;
                    //     }
                    // }
                }
            }
        }
        .rightNav {
            li {
                vertical-align: middle;
                span {
                    font-size: 20px;
                }
                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
            .dropdown {
                .dropdown-toggle {
                    padding: 0;
                    box-shadow: none;
                    &:after {
                        display: none;
                    }
                }
                &.moodDropdoown {
                    img {
                        width: 24px;
                    }
                    .dropdown-menu {
                        padding: 10px;
                    }
                }
                .dropdown-menu {
                    right: 0;
                    left: auto;
                    border: none;
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
                    .dropdown-item{
                        padding: 7px 15px;
                        &:not(:last-child){
                            border-bottom: 1px solid #e2e2e2;
                        }
                    }
                    a {
                        &:hover {
                            color: $yellow;
                            background-color: transparent;
                        }
                    }

                }

              
            }

         
       
            
           
        }

        .notification{
            .dropdown-toggle{
                &:after{
                    display: none;
                }
            }
            .dropdown-menu{
                right: 0;
                left: auto;
                border: none;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            }
            &__wrap{
                display: block;
                padding: 10px;
                &:not(:last-child){
                    border-bottom: 1px solid #e2e2e2;
                }
               a{
                   color: #000;
               } 
            }
            &__msg{
                a{
                    color: #000;
                } 
            }
        }
    }
    @media (max-width: 1599px) {
        .navbar {
            padding: 15px 30px;
            .form-search {
                width: 400px;
                margin-left: 30px;
            }
        }
    }
    @media (max-width: 1199px) {
        .navbar {
            .form-search {
                width: 300px;
                margin-left: 20px;
            }
            .centerNav {
                margin-left: 20px;
            }
        }
    }
    @media (max-width: 991px) {
        .navbar {
            padding: 15px;
            .toggleSearch {
                display: inline-block;
                .icon-plus {
                    display: none;
                    transform: rotate(45deg);
                }
                &[aria-expanded="true"] {
                    .icon-search {
                        display: none;
                    }
                    .icon-plus {
                        display: block;
                    }
                }
            }
            .searchForm {
                .form-search {
                    left: 0px;
                    width: 100%;
                    margin-left: 0px;
                    top: 80px;
                    position: fixed !important;
                    background: $white;
                    .form-control {
                        border-radius: 0;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        .navbar {
            padding: 10px 15px;
            .navbar-brand {
                width: 64px;
                img {
                    width: 50px;
                }
            }
            .searchForm {
                .form-search {
                    top: 58px;
                }
            }
            .rightNav {
                .dropdown {
                    &.moodDropdoown {
                        .dropdown-menu {
                            padding: 5px 0px;
                        }
                    }
                }
            }
            .centerNav {
                margin-left: 0;
                align-items: center;
                justify-content: space-between;
                display: flex;
                li {
                    &:not(:last-child) {
                        margin-right: 5px;
                    }
                }
            }
            .userImg {
                height: 36px;
                width: 36px;
            }

            .centerNav {
                position: fixed;
                bottom: 0;
                width: 100%;
                left: 0;
                background: #ffff;
                padding: 5px;
                box-shadow: 0 2px 10px rgba($color: $black, $alpha: 0.15);
                li {
                    width: 20%;
                    float: left;
                    &:not(:last-child) {
                        margin-right: 0;
                    }
                    a {
                        .icon {
                            height: 35px;
                            width: 35px;
                        }
                        .nav-text {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 360px) {
        .navbar {
            .userImg {
                height: 30px;
                width: 30px;
            }
            .rightNav {
                li {
                    &:not(:last-child) {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
