.letsGovDetailPage{
    .feeds{
        .feed-box{
            padding: 0;
            &:after, &:before{
                display: none;
            }
            .feedCaption{
                a{
                    color: color(900);
                }
            }
        }
    }
}