.btn {
    cursor: pointer;
    border-radius: 0;
    line-height: normal;
    font-size: 14px;
    padding: 12px 20px;
    font-family: font(bd);
    text-transform: uppercase;
    &:focus{
        box-shadow: none;
    } 
    &.btn-sm{
        padding: 5px 20px;
    }
    &.btn-md{
        padding: 10px 20px;
    }
    &.btn-primary {
        border-color: color(900);
        color: color(50);
        background-color: color(900); 
        &:hover,
        &:focus,
        &:active,
        &:not(:disabled):not(.disabled):active {
            border-color: rgba($color: color(900), $alpha: 0.9);     
            background: rgba($color: color(900), $alpha: 0.9); 
            color: color(500);
            outline: none;box-shadow: none;
        }
    }

    &.btn-outline-primary { 
        border-color: color(900); color: color(900);
        &:hover, &:focus, &:active, &:not(:disabled):not(.disabled):active {
          background: rgba($color: color(900), $alpha: 0.9);outline: none;box-shadow: none;
          border-color: rgba($color: color(900), $alpha: 0.9);
          color: color(500);
        }
      }

      &.btn-secondary {
        border-color: color(50);
        color: color(900);
        background-color: color(50);
        &:hover,
        &:focus,
        &:active,
        &:not(:disabled):not(.disabled):active {
            border-color: darken(color(50), 8%);
            background: darken(color(50), 8%);
            color: color(900);
            outline: none;box-shadow: none;
        }
    }

    &.btn-outline-secondary {
        border-color: color(50); color: color(50);
        &:hover, &:focus, &:active, &:not(:disabled):not(.disabled):active {
          background: color(50); color: color(900);outline: none;box-shadow: none;
          border-color: color(50);
        }
    }
    &.btn-warning{
        border-color: color(500);
        color: color(50);
        background-color: color(500);
        &:hover,
        &:focus,
        &:active,
        &:not(:disabled):not(.disabled):active {
            border-color: darken(color(500), 8%);
            background: darken(color(500), 8%);
            color: color(50);
            outline: none;
            box-shadow: none;
        }
    }
}