@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?crq4nn");
  src: url("../fonts/icomoon.eot?crq4nn#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?crq4nn") format("truetype"), url("../fonts/icomoon.woff?crq4nn") format("woff"),
    url("../fonts/icomoon.svg?crq4nn#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-filter:before {
  content: "\e93e";
}
.icon-heart-filled:before {
  content: "\e93d";
}
.icon-address:before {
  content: "\e935";
}
.icon-city:before {
  content: "\e936";
}
.icon-clinic:before {
  content: "\e937";
}
.icon-contact:before {
  content: "\e938";
}
.icon-flag:before {
  content: "\e939";
}
.icon-post-code:before {
  content: "\e93a";
}
.icon-state:before {
  content: "\e93b";
}
.icon-url:before {
  content: "\e93c";
}
.icon-upload-image:before {
  content: "\e934";
}
.icon-cart-1:before {
  content: "\e933";
}
.icon-mic:before {
  content: "\e931";
}
.icon-video-cam:before {
  content: "\e932";
}
.icon-edit:before {
  content: "\e92f";
}
.icon-trash:before {
  content: "\e930";
}
.icon-minus:before {
  content: "\e92d";
}
.icon-plus:before {
  content: "\e92e";
}
.icon-renew:before {
  content: "\e92c";
}
.icon-user1:before {
  content: "\e928";
}
.icon-logout:before {
  content: "\e92b";
}
.icon-settings:before {
  content: "\e927";
}
.icon-image:before {
  content: "\e929";
}
.icon-staff:before {
  content: "\e92a";
}
.icon-mic-off:before {
  content: "\e926";
}
.icon-video-chat:before {
  content: "\e922";
}
.icon-share-screen:before {
  content: "\e923";
}
.icon-video-off:before {
  content: "\e925";
}
.icon-phone-call:before {
  content: "\e924";
}
.icon-dollar:before {
  content: "\e91f";
}
.icon-log-out:before {
  content: "\e920";
}
.icon-clock:before {
  content: "\e921";
}
.icon-paperclip:before {
  content: "\e91d";
}
.icon-send:before {
  content: "\e91e";
}
.icon-cart:before {
  content: "\e91a";
}
.icon-check-mark-circle:before {
  content: "\e91b";
}
.icon-check:before {
  content: "\e91c";
}
.icon-camera-icon:before {
  content: "\e918";
}
.icon-left-arrow:before {
  content: "\e93f";
}
.icon-right-arrow:before {
  content: "\e919";
}
.icon-close:before {
  content: "\e917";
}
.icon-next:before {
  content: "\e915";
}
.icon-prev:before {
  content: "\e916";
}
.icon-time:before {
  content: "\e913";
}
.icon-map-pin:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e911";
}
.icon-unlock:before {
  content: "\e906";
}
.icon-notification:before {
  content: "\e908";
}
.icon-heart:before {
  content: "\e90b";
}
.icon-mail:before {
  content: "\e90c";
}
.icon-share:before {
  content: "\e90d";
}
.icon-star-fill:before {
  content: "\e90e";
}
.icon-user:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e905";
}
.icon-arrow-down:before {
  content: "\e904";
}
.icon-chevron-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e902";
}
.icon-global:before {
  content: "\e903";
}
.icon-gender:before {
  content: "\e907";
}
.icon-left:before {
  content: "\e909";
}
.icon-right:before {
  content: "\e90a";
}
.icon-eye1:before {
  content: "\e912";
}
.icon-eye-off:before {
  content: "\e914";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-pinterest-line:before {
  content: "\ead2";
}
.icon-paypal:before {
  content: "\ead8";
}
.icon-star:before {
  content: "\e9d7";
}
